.page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  background-color: #2a2c2f;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
@media screen and (max-width: 1280px) {
  /* стили для планшета в альбомной ориентации */
}
@media screen and (max-width: 1024px) {
  /* стили для планшета в альбомной ориентации */
}

@media screen and (max-width: 768px) {
  /* стили для планшета в альбомной ориентации */
}

@media screen and (max-width: 320px) {
  /* стили для планшета в альбомной ориентации */
}
