.intro__list {
  margin: 0;
  max-width: 690px;
  color: #ffffff;
  /* padding-bottom: 9px; */
  padding-bottom: 1px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
.intro__list:last-of-type {
  padding-bottom: 0;
}
@media screen and (max-width: 320px) {
  .intro__list {
    max-width: 288px;
  }
}
