.lead__image {
  box-sizing: border-box;
  width: 100%;
  max-width: 984px;
  aspect-ratio: 8/5;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
  }
}
@media screen and (max-width: 940px) {
  .lead__image {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 768px;
  }
}

@media screen and (max-width: 600px) {
  .lead__image {
    max-width: 320px;
  }
}
