.intro {
  box-sizing: border-box;
  padding: 92px 148px 0;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .intro {
    padding: 92px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 88px calc(48px / 2) 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 64px calc(48px / 3) 48px;
  }
}
