.lead__subtitle {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 64px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  width: 640px;
  text-align: center;
}
