.lead__subtitle {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 64px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 600px) {
  .lead__subtitle {
    padding-top: 16px;
    padding-bottom: 40px;
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}
