.cover {
  display: flex;
  justify-content: center;
  padding: 12px 48px 0;
}
@media screen and (max-width: 1024px) {
  .cover {
    padding: 2px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding: 15px 0 0;
  }
}
@media screen and (max-width: 320px) {
  .cover {
    padding: 1px 0 0;
  }
}
