.cover__background {
  background-image: url(../../../images/__background.jpg);
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 8/5;
  background-position: center;
  position: relative;
  max-width: 1184px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    max-width: 320px;
  }
}
