.lead__container {
  flex: 984px 0 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .lead__container {
    flex: 928px 0 1;
  }
}

@media screen and (max-width: 768px) {
  .lead__container {
    flex: 768px 0 1;
  }
}

@media screen and (max-width: 320px) {
  .lead__container {
    flex: 320px 0 1;
  }
}
