.intro__title {
  margin: 0;
  max-width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .intro__title {
    flex: 928px 0 1;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    flex: 720px 0 1;
  }
}

@media screen and (max-width: 500px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}
